.topCard {
    border-right: 1px solid #ddd;
    padding: 0 20px;
    flex: 1
}

.topCardLast {
    padding: 0 20px;
    flex: 1
}

.center {
    text-align: center;
}

// card内部平均分配宽度
.flex {
    display: 'flex'
}
